*{
    margin: 0;
    padding: 0;
}

header{
    height:50px;
    display: flex;
    justify-content: space-around;
    background-color:rgba(30, 26, 26, 0.959);
    color: aliceblue;
    
}
#logo{
    justify-content: flex-start;
    align-self: center;
    color: rgb(238, 164, 73);
}
#name{
    align-self: center;
}
#userinput{
    align-self: center;
}
#a{
    align-self: center;
    text-decoration: none;
    color: aliceblue;


}
#name:hover{
    transform: scale(1.5);
    color: white;
    border: 1px solid white;
}
#a:hover{
    color: white;
    border: 1px solid white;
}
#img1{
    height: 300px;
    background-color: antiquewhite;
}
#container{
    background-color: rgb(255, 254, 253);
    display: flex;
    justify-content: space-around;
    margin: 1px 1px;
    }
#containt{
    height:600px;
    width: 400px;
 background-color: rgb(157, 78, 78);
  display: flex;
  flex-direction: row; 
 justify-content: space-around; 
}
#footer1{
    height: 500px;
    background-color: rgb(50, 47, 47);
    
   
}
#spacehr{
    height: 2rem;
    border: none;
}
.innerCon{
    height: 10rem;
    width: 10rem;
    margin: 50px 20px;
    background-color: antiquewhite;
    object-fit: cover;

}

    
/* #box1{
width: 100px;
height: 100px;
background-color: red;
justify-content: center;
} */